<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811437731406-t4fflfp570e92mh5nsrsgh6kpplpq31a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811437731406-t4fflfp570e92mh5nsrsgh6kpplpq31a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811437731406-a2shalhol9694hb8pm3859gb50n1tmm0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEuwflWzwOzaGeDUgtLfrptKD6uDJgRqA</string>
	<key>GCM_SENDER_ID</key>
	<string>811437731406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.leverai.guesstimate</string>
	<key>PROJECT_ID</key>
	<string>guesstimate-dev-478820</string>
	<key>STORAGE_BUCKET</key>
	<string>guesstimate-dev-478820.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811437731406:ios:60a0edb8ff1e85a53c1d1f</string>
</dict>
</plist>